<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>YouTube Bookmark</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar dark app clipped-left :class="theme">
        <v-avatar class="white mr-3 elevation-8">
          <v-icon :class="theme.split(' ')[0]+'--text ' + 'text--' + theme.split(' ')[1]">mdi-youtube</v-icon>
        </v-avatar>
        <v-toolbar-title>YouTube Bookmark</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="$vuetify.theme.dark = !$vuetify.theme.dark" :class="$vuetify.theme.dark ? 'yellow--text' : ''">
          <v-icon>mdi-weather-night</v-icon>
        </v-btn>
      </v-app-bar>
      <v-main>
        <v-container>
          <v-row v-if="$route.path == '/'">
            <v-col>
              <v-card class="px-3 mb-3" v-for="(video,index) in videoQuery" :key="video.vid">
                <v-row>
                  <v-col md="3">
                    <v-img v-if="!video.watchHere" width="416" height="230" :src="video.thumbnail_url"></v-img>
                    <iframe v-if="video.watchHere" width="416" height="230" :src="videoEmbed(video.url)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay></iframe>
                  </v-col>
                  <v-col md="9">

                    <v-card-title class="pt-0 pl-0">{{ video.title }}</v-card-title>

                    <v-card-text class="pt-0 pl-0"><a class="text-decoration-none" :class="theme.split(' ')[0]+'--text ' + 'text--' + theme.split(' ')[1]" :href="video.author_url" target="_blank">{{ video.author_name }}</a></v-card-text>
                    <v-card-text class="pt-0 pl-0">{{ video.columnName }}</v-card-text>

                    <v-card-actions class="pl-0">
                      <v-btn dark target="_blank" :href="video.url" :class="theme">
                        <v-icon>mdi-play-circle</v-icon>
                        Watch on YouTube
                        <v-icon>mdi-open-in-new</v-icon>
                      </v-btn>
                      <v-btn dark @click="watchHere(index)" :class="theme">
                        <v-icon>mdi-play-circle-outline</v-icon>
                        Watch Here
                      </v-btn>
                    </v-card-actions>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
          <v-row v-if="$route.path == '/submission'">
            <v-col cols="12">
              <v-card class="pa-3">
                <v-card-title class="pa-0">
                  Submit new video
                </v-card-title>
                <v-form>
                  <v-row>
                    <v-col md="3" sm="6" cols="12">
                      <v-autocomplete v-model="submission.uid" label="Tell me who are you" :items="userQuery" item-text="userName" item-value="uid" :color="theme" :item-color="theme">
                      </v-autocomplete>
                    </v-col>
                    <v-col md="3" sm="6" cols="12">
                      <v-autocomplete v-model="submission.cid" label="Which column?" :items="columnQuery" item-text="columnName" item-value="cid" :color="theme" :item-color="theme">
                      </v-autocomplete>
                    </v-col>
                    <v-col md="6" sm="12" cols="12">
                      <v-text-field v-model="submission.url" :color="theme" label="" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
                <v-card-actions>
                  <v-btn dark :class="theme" @click="submitNewVideo()">Submit</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>

            <v-col cols="12">
              <v-card class="pa-3">
                <v-card-title class="pa-0">
                  Create new column
                </v-card-title>
                <v-form>
                  <v-row>
                    <v-col md="6" cols="12">
                      <v-text-field v-model="create.column" :color="theme" label="Column Name"></v-text-field>
                    </v-col>
                    <v-col md="6" cols="12">
                      <v-autocomplete cache-items v-model="create.slug" label="Pick a logo" persistent-hint hint="Please avoid using slug without icon" :items="logoQuery" item-text="name" item-value="name" :color="theme" :item-color="theme" :prepend-icon="'mdi-' + create.slug">
                        <template slot="item" slot-scope="list">
                          <v-icon class="mr-3">{{ 'mdi-' + list.item.name }}</v-icon> {{ list.item.name }}
                        </template>
                      </v-autocomplete>
                    </v-col>
                  </v-row>
                </v-form>
                <v-card-actions>
                  <v-btn dark :class="theme" @click="createNewColumn()">Create</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>

            <v-col cols="12">
              <v-card class="pa-3">
                <v-card-title class="pa-0">
                  Register new user
                </v-card-title>
                <v-form>
                  <v-row>
                    <v-col md="3">
                      <v-text-field v-model="register.name" :color="theme" label="User Name"></v-text-field>
                    </v-col>
                  </v-row>
                </v-form>
                <v-card-actions>
                  <v-btn dark :class="theme" @click="registerNewUser()">Create</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
      <v-bottom-navigation app :color="theme" shift>
        <v-btn value="0" :to="'/'">
          <span>主頁</span>
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn v-for="col in columnQuery" :value="col.cid" :key="col.cid" :to="'/col/' + col.slug">
          <span class="text-capitalize">{{ col.columnName }}</span>
          <v-icon>{{ 'mdi-' + col.slug }}</v-icon>
        </v-btn>
      </v-bottom-navigation>
      <v-btn fixed bottom right fab large :class="theme.split(' ')[0]+'--text ' + 'text--' + theme.split(' ')[1]" :to="'/submission'">
        <v-icon>
          mdi-plus
        </v-icon>
      </v-btn>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js" integrity="sha256-KyY5SqyBmXeM0zfYBGU1tuqcstxpjkECApypY+CA4Z8=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" integrity="sha256-FZ8KwMj1F6qnNgA7bhPryVm19xKduH5OVr8u7I1tAtc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.4.3/dist/vue-router.min.js" integrity="sha256-Ky1nx0ry5GPKhwH4gn5KG8HAXEGlgWYvovpukJo8dJs=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.js" integrity="sha256-K1TzKAdGgiXty4/khGTrq0axO2FK733qjDBqQiKmU3I=" crossorigin="anonymous"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
</body>
</html>
